---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fdk-statistics-service
  labels:
    app: fdk-statistics-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fdk-statistics-service
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: fdk-statistics-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/prometheus"
    spec:
      containers:
        - name: fdk-statistics-service
          env:
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: HOST
            - name: POSTGRES_PORT
              valueFrom:
                secretKeyRef:
                  name: postgres
                  key: PORT
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: fdk-statistics-service
                  key: POSTGRESQL_DB
            - name: POSTGRES_USERNAME
              valueFrom:
                secretKeyRef:
                  name: fdk-statistics-service
                  key: POSTGRESQL_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fdk-statistics-service
                  key: POSTGRESQL_PASSWORD
            - name: KAFKA_SCHEMA_REGISTRY
              valueFrom:
                secretKeyRef:
                  name: fdk-metadata-quality
                  key: SCHEMA_REGISTRY
            - name: KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                secretKeyRef:
                  name: fdk-metadata-quality
                  key: BROKERS
            - name: KEYCLOAK_OIDC_ISSUER
              valueFrom:
                secretKeyRef:
                  name: keycloak
                  key: KEYCLOAK_OIDC_ISSUER
            - name: CORS_ORIGIN_PATTERNS
              valueFrom:
                secretKeyRef:
                  name: fdk-statistics-service
                  key: CORS_ORIGIN_PATTERNS
          image: fdk-statistics-service
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          resources:
            requests:
              memory: 2Gi
