---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment-fdk-statistics-service.yaml
  - service-fdk-statistics-service.yaml
images:
  - name: fdk-statistics-service
    newName: ghcr.io/informasjonsforvaltning/fdk-statistics-service
    newTag: $(GIT_COMMIT_SHA)

patches:
  - path: env.yaml
